.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    height: 70%;
}

.mainBtn {
    margin-left: 30px;
}

.headerTitle {
    color: rgba(179, 123, 232, 0.851);
    text-align: left;
    font-size:40px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;

}

.mainItem {
    background-color: rgba(0, 0, 0, 0.775);
    margin-top: 40px;
    min-height: 400px;
    border: 1px solid rgba(0, 0, 0, 0.248);
    border-radius: 10px;
    padding-bottom: 10px;
}